<p>
  <b>ARPAbet pronunciation:</b>
  <%= pronunciation.arpabet %>
</p>

<p>
  <%= link_to 'Delete Pronunciation', [pronunciation.word, pronunciation],
               :confirm => 'Are you sure?',
               :method => :delete %>
</p>