%p
  = pronunciation.arpabet
  = link_to 'delete', [pronunciation.word, pronunciation], |
    :confirm => 'Are you sure?',                                         |
    :method => :delete                                                   |