.input-append
  %form.form-search{:action => pronunciations_path, :method => "get", "accept-charset" => "UTF-8"}<
    = text_field_tag :q, @query_string, :class => 'span7 search-query'
    = submit_tag 'Search', :class => 'btn'
