.push-3
  %form{:action => pronunciations_path, :method => "get", "accept-charset" => "UTF-8", "data-remote" => "true", "data-type" => "html"}
    %p
      = text_field_tag :q, @query_string, :class => 'large'
      = submit_tag 'Search'
