.row.result-header
  .col-lg-4.column-header word
  .col-lg-4.column-header ARPAbet
  .col-lg-4.column-header IPA
- @pronunciations.each do |pronunciation|
  .row.result
    .col-lg-4.result-cell= pronunciation.word.name
    .col-lg-4.result-cell= pronunciation.arpabet
    .col-lg-4.result-cell= pronunciation.ipa
