%table.table.table-striped
  %tr
    %th.span4 word
    %th.span4 ARPAbet
    %th.span4 IPA
  - @pronunciations.each do |pronunciation|
    %tr
      %td= pronunciation.word.name
      %td= pronunciation.arpabet
      %td= pronunciation.ipa
