%table
  %tr
    %th Word
    %th Pronunciations
  - @words.each do |word|
    %tr
      %td= link_to word.name, word_path(word)
      %td
        - word.pronunciations.each do |p|
          %span.pronunciation= link_to(p, words_path(:q => p.arpabet))
      %td= word.pronunciations.map {|p| p.ipa}.join ', '
