%p#notice= notice
%p
  %b Name:
  = @word.name
%h2 Pronunciations
= render :partial => "pronunciations/pronunciation", |
  :collection => @word.pronunciations                |
| #{link_to 'Back', words_path}